@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;

    /* Custom */
    --background-accent: 0 0% 98%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    /* Custom */
    --background-accent: 0 0% 7.45%;
  }
}

/* Custom A11y */

@media (prefers-contrast: more) {
  :root {
    --border: 0 0% 14.9%;
  }
  .dark {
    --border: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground bg-background-accent transition-colors;
  }
  code {
    @apply font-comfortaa tabular-nums;
  }
  button {
    -webkit-tap-highlight-color: hsl(var(--border) / 0.2);
  }
}

@layer components {
  .site-padding {
    @apply px-4 sm:px-6 lg:px-8;
  }
  .site-padding-full {
    @apply -mx-4 sm:-mx-6 lg:-mx-8 px-4 sm:px-6 lg:px-8;
  }
  .skip-main-wrap {
    /* @apply absolute left-[-999px] top-auto z-[-999] h-1 w-1 overflow-hidden; */
    @apply absolute inset-x-0 z-[-999] h-1 w-1 overflow-hidden opacity-0 transition-opacity duration-500;
  }
  .skip-main-wrap:focus,
  .skip-main-wrap:focus-visible,
  .skip-main-wrap:focus-within {
    @apply top-4 z-[999] mx-auto h-auto w-full max-w-lg opacity-100 outline-none overflow-visible;
  }
  .skip-main-wrap .skip-main {
    @apply w-full rounded-lg border-4 border-border bg-background py-4 px-2 text-foreground shadow-lg shadow-primary/40 outline-none;
  }
  .skip-main-wrap .skip-btn {
    @apply outline-none text-muted-foreground rounded px-2 py-1 hover:bg-primary focus:bg-primary hover:text-primary-foreground focus:text-primary-foreground;
  }
}
